@page
@model KurierzyAPI.Pages.Upload.UploadModel

@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<h4>Upload image to server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" action="api/uploads">
            <input type="file" id="upload" name="file" accept="image/png, image/jpeg">
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
