@page
@model KurierzyAPI.Pages.Persons.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Person.Email" class="control-label"></label>
                <input asp-for="Person.Email" class="form-control" />
                <span asp-validation-for="Person.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Birthday" class="control-label"></label>
                <input asp-for="Person.Birthday" class="form-control" />
                <span asp-validation-for="Person.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.City" class="control-label"></label>
                <input asp-for="Person.City" class="form-control" />
                <span asp-validation-for="Person.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterPersonDTO.Password" class="control-label"></label>
                <input asp-for="RegisterPersonDTO.Password" class="form-control" />
                <span asp-validation-for="RegisterPersonDTO.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.RoleId" class="control-label"></label>
                <input asp-for="Person.RoleId" class ="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

    <script>
    document.addEventListener('submit', (e) => {
        modifyDTO = {
            "Email": document.getElementsByClassName("form-group")[0].getElementsByTagName("input")[0].value,
            "Name": document.getElementsByClassName("form-group")[1].getElementsByTagName("input")[0].value,
            "Surname": document.getElementsByClassName("form-group")[2].getElementsByTagName("input")[0].value,
            "Birthday": document.getElementsByClassName("form-group")[3].getElementsByTagName("input")[0].value,
            "City": document.getElementsByClassName("form-group")[4].getElementsByTagName("input")[0].value,
            "Password": document.getElementsByClassName("form-group")[5].getElementsByTagName("input")[0].value,
            "RoleId": parseInt(document.getElementsByClassName("form-group")[6].getElementsByTagName("input")[0].value),
        }
        e.preventDefault();
        token = localStorage.getItem("token");
        token = "Bearer " + token;

        $.ajax({
            url: '/api/persons/',
            headers: { 'Authorization': token },
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(modifyDTO),
            complete: function (xhr, textStatus) {
                if (xhr.status == 200) {
                    location.href = '/Persons/Index';
                } else {
                    alert(xhr.responseText);
                }
            }

        })

    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
