@page
@model KurierzyAPI.Pages.Login.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Login data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginPersonDTO.Email" class="control-label"></label>
                <input asp-for="LoginPersonDTO.Email" class="form-control" />
                <span asp-validation-for="LoginPersonDTO.Email" class="text-danger"></span>
            </div>        
            <div class="form-group">
                <label asp-for="LoginPersonDTO.Password" class="control-label"></label>
                <input asp-for="LoginPersonDTO.Password" class="form-control" />
                <span asp-validation-for="LoginPersonDTO.Password" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="test"> Test authorization </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>
    document.getElementById("test").addEventListener('click', function(e){
        e.preventDefault();
        token = localStorage.getItem("token");
        token = "Bearer " + token;
        $.ajax({
            url: '/authorizeTest',
            type: 'GET',
            headers: { 'Authorization': token}, 
            complete: function (xhr, textStatus) {
                if (xhr.status == 200) {
                    alert("Success!");
                } else if(xhr.status == 401){
                    alert("Login to authorized account!")
                } else if(xhr.status == 403){
                    alert("Unathorized");
                } else {
                    console.log(xhr);
                    alert("Error occured");
                }
            }

        })
    })
    document.addEventListener('submit', (e) => {
        loginDTO = {
           "Email": document.getElementsByClassName("form-group")[0].getElementsByTagName("input")[0].value,
           "Password": document.getElementsByClassName("form-group")[1].getElementsByTagName("input")[0].value
         }
        e.preventDefault();
        $.ajax({
            url: '/api/logins/',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(loginDTO),
            complete: function (xhr, textStatus) {
                if (xhr.status == 200) {
                    alert("Success!");
                    localStorage.setItem('token', xhr.responseText);
                } else {
                    alert(xhr.responseText);
                }
            }

        })

    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
