@page
@model KurierzyAPI.Pages.IndexModel
@{
    Layout = "_Layout";
}
<p> Linki do stron korzystających z WebAPI na pasku nawigacyjnym </p>
<p> Poniżej linki do stron korzystających z DBContext -> służą do prezentacji relacji oraz łatwiejszej konfiguracji</p>
<a class="nav-link text-dark" asp-area="" asp-page="/Roles/Index">Roles</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Packages/Index">Packages</a>
<a class="nav-link text-dark" asp-area="" asp-page="/Deliverers/Index">Deliverers</a>
<script>

</script>